{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="span12 text-center">
	<a class="btn btn-primary" href="{%url 'lists.views.latest' %}">Zurueck zur Startseite</a>
</div>
	<div class="span12">
	</br>
		<h3 class="text-center">Privatsphäre und Datenschutz</h3>
		
		<p>
Gemäß § 28 des Bundesdatenschutzgesetzes (BDSG) machen wir darauf aufmerksam, dass die im Rahmen der Geschäftsabwicklung notwendigen Daten mittels einer EDV-Anlage gemäß § 33 (BDSG) verarbeitet und gespeichert werden. Wir geben ihre personenbezogenen Daten einschließlich Adresse und E-Mail-Adresse nicht ohne ihre ausdrücklichen und jederzeit wiederrufliche Einwilligung an Dritte weiter.

Wir setzen technische Sicherheitsmaßnahmen ein, um ihredurch uns verwalteten Daten gegen Manipulation, Verlust, Zerstörung oder gegen den Zugriff unberechtigter Personen zu schützen. Sie haben jederzeit das Recht auf Auskunft, Berichtigung, Sperrung und Löschung ihrer gespeicherten Daten. Bitte wenden Sie sich dazu an unsere angegebene Adresse.
</p>
	</div>
	

	</div>
</div>

{% endblock %}