{% extends "base.html" %}
{% block content %}




<div class='row sub-nav '>
	<div class ='span9 offset3'>
		<ul class="nav nav-pills">
	  		<li class='cat-all'>
	    		<a href="{%url 'lists.views.latest' %}?catid=new_all">Neueste Videos</a>
	  		</li>
	  		<li class='cat-zdf'>
	  			<a href="{%url 'lists.views.category' %}?catid=ZDF">ZDF</a>
	  		</li>
	  		<li class='cat-ard'>
	  			<a href="{%url 'lists.views.category' %}?catid=ARD">ARD</a>
	  		</li>
	  		<li class='cat-arte'>
	  			<a href="{%url 'lists.views.category' %}?catid=ARTE">ARTE</a>
	  		</li>
	  		<li class='cat-youtube'>
	  			<a href="{%url 'lists.views.category' %}?catid=YOUTUBE">YOUTUBE</a>
	  		</li>
	  		<li class='cat-sonstige'>
	  			<a href="{%url 'lists.views.category' %}?catid=SONSTIGE">SONSTIGE</a>
	  		</li>
		</ul>
	</div>
</div>





<div class='row locator'>
	<div class ='span7 offset2'>
		<p class="muted">Kategorie - {{ sub_title }}</p>
	</div>
	<!--<div class ='span3'>
		Sortiert nach:
		<div class="btn-group">
			
		  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
		    Neueste Links
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href='#'>Neueste Links</a></li>
		    <li><a href='#'>Meist gecklickt</a></li>
		  </ul>
		</div>
	</div>-->
</div>



{% for post, label_set in posts %}

<div class='row post'>

	<div class = 'span1 offset1'>
		<span class='rank muted text-right'><h3>{{ forloop.counter0|add:posts.start_index }}</h3></span>
	</div>

	<div class='span9'>
		<h3><a href="{%url 'clickTracker.views.clickTracker' %}?dst={{ post.link }}&id={{ post.id }}" target="_blank">{{ post.title }}</a></h3>
		<span class="meta"><small>Posted <span class="post-date" title="{{ post.date_created|date:"D d M Y" }} {{ post.date_created|time:"TIME_FORMAT" }}">{{ post.date_created }} ago</span> by {{ post.user }} <!--<a class="share btn btn-warning btn-mini"  rel="popover">Share</a>--> Labels: 
			
			{% for labels in label_set %}
			<a class ='btn btn-inverse btn-mini' href="/label_search/?label={{ labels }}">{{ labels }}</a>
			{% endfor %}
			
		</span></small></span>

	</div>
</div>

{% endfor %}
<!--
<script>
var shareContent = '<div>Like it on Facebook: <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.videosoup.de&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;font=arial&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe></div><div><a class="close-share btn btn-link" onclick="$(&quot;.share&quot;).popover(&quot;hide&quot;);">Close</a></div>'

/*'''<div><div class=\fb-like\ data-href=\http://www.videosoup.de\ data-send=\false\ data-layout=\button_count\ data-width=\450\ data-show-faces=\false\></div></div>'''*/

$('.share').popover({title: "Share this post!", content: shareContent, html: true});
</script>


<script>
$('.close-share').popover('destroy');
</script>
-->
</br>
</br>

<div class="row">
	<div class="span10 offset2">
	        <span class="step-links">
	      
	            {% if posts.has_previous %}
	                <a href="?page={{ posts.previous_page_number }}&catid={{ catid }}&label={{ label }}" >previous</a>
	            {% endif %}

	            <span class="current">
	                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
	            </span>

	            {% if posts.has_next %}
	                <a href="?page={{ posts.next_page_number }}&catid={{ catid }}&label={{ label }}">next</a>
	            {% endif %}
	        </span>
	</div>
</div>
<script>
var name = 'catid'
var url_param = decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );

url_param = url_param.toLowerCase();
console.log(url_param);

if(url_param === 'new_all' || url_param === 'null')
{
	console.log('START');
	$(".cat-all").attr('class', 'active');
}

else if(url_param === 'arte')
{
	console.log('Category ARte');
	$(".cat-arte").attr('class', 'active');
}
else if(url_param === 'zdf')
{
	console.log('Category ZDF');
	$(".cat-zdf").attr('class', 'active');
}

else if(url_param === 'ard')
{
	console.log('Category ARD');
	$(".cat-ard").attr('class', 'active');
}

else if(url_param === 'youtube')
{
	console.log('Category youtube');
	$(".cat-youtube").attr('class', 'active');
}
else if(url_param === 'sonstige')
{
	console.log('Category sonstige');
	$(".cat-sonstige").attr('class', 'active');
}
</script>
{% endblock %}