div#separator-top
{
	margin: 0px auto;
	height: 5px;
	border-top: 1px black !important;
	width: 100%;
}

div#wrap{
        min-height: 100%;
        height: auto !important;
        margin: 0 auto -60px;
       
      }


footer#footer{
        background-color: #fff;
        height: 60px;
        margin-top: 150px;
      }